@import '../../styles/variable.scss';

.row {
  min-height: 568px;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  box-sizing: border-box;
  @include responsive(pc) {
    flex-direction: row;
  }
}

.center {
  align-items: center;
}

.fit {
  min-height: fit-content;
}
