@import '../../styles/style.scss';

.card {
  border-radius: 24px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.full {
  width: 100%;
}

.fit {
  max-width: fit-content;
}
