.productInformation {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem;
  box-sizing: border-box;
}

.userInformation {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  div {
    max-height: 600px;
    flex: 1;
    padding: 2rem;
    box-sizing: border-box;
  }
}
